on early-init
    mkdir /firmware 0771 system system
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug

on fs
    wait /dev/block/platform/soc/1da4000.ufshc
    symlink /dev/block/platform/soc/1da4000.ufshc /dev/block/bootdevice
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion

    # This needs to be supported by the init binary!
    install_keyring

on post-fs
    # start clearpad_post_probe when filesystem is available for fwflash
    write /sys/devices/virtual/input/clearpad/post_probe_start 1

on init
    start hwservicemanager

on boot
    setprop crypto.ready 1

on property:crypto.ready=1
    start sbin_qseecomd
    start servicemanager

    # Wait for qseecomd to finish
    wait_for_prop vendor.sys.listeners.registered true

    start gatekeeper-1-0
    start keymaster-3-0

on property:crypto.ready=0
    stop keymaster-3-0
    stop gatekeeper-1-0
    stop servicemanager
    stop sbin_qseecomd

service hwservicemanager /sbin/hwservicemanager
    user root
    group root
    disabled
    onrestart setprop hwservicemanager.ready false
    seclabel u:r:recovery:s0

service servicemanager /sbin/servicemanager
    disabled
    user root
    group root readproc
    seclabel u:r:recovery:s0
    writepid /dev/cpuset/system-background/tasks

service keymaster-3-0 /sbin/android.hardware.keymaster@3.0-service-qti
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /sbin/android.hardware.gatekeeper@1.0-service-qti
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service sbin_qseecomd /sbin/qseecomd
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

# Handled by TWRP
service keystore /sbin/keystore /tmp/misc/keystore
    disabled
    oneshot
    user root
    group root drmrpc readproc
    seclabel u:r:recovery:s0
    writepid /dev/cpuset/foreground/tasks

# Handled by TWRP
service keystore_auth /sbin/keystore_auth
    disabled
    oneshot
    user system
    group root
    seclabel u:r:recovery:s0
